# Entorno virtual
venv/
.env
*.env

# Archivos Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de log o salida
*.log
*.sqlite3
*.db
*.bak

# Archivos generados
*.csv
.json

# Archivos de salida del proyecto
/output/
!/output/.gitkeep  # mantener la carpeta vacía si querés

# Archivos de datos temporales
/data/matrices/
!/data/matrices/.gitkeep

# Configuración local
config/*.local.py
config/local_settings.py

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.swp
